*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Ramona-Bold'; 
	src: url(fonts/Ramona-Bold.ttf); 
}

@font-face {
	font-family: 'Ramona-Light'; 
	src: url(fonts/Ramona-Light.ttf); 
}

body{
	font-family: 'Ramona-Light'; 
}

.header{
    box-shadow: 0 0 1px 0 black;
    background-color: rgba(1, 114, 30, 0.877);
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.logo h1{
    color: white;
    font-size: 60px;
	font-family: 'Ramona-Bold'; 
}

.logo{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.items{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 500px;
    padding: 10px;
}

.items a{
    color: white;
    text-decoration: none;
	font-family: 'Ramona-Light'; 
}

.block{
    background-color: rgba(128, 128, 128, 0.24);
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px rgb(179, 179, 179);   
    flex-wrap: wrap;   
    max-width: clamp(300px, 62.5vw, 1200px);
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
}

.swiper{
    width: clamp(300px,62.5vw,1200px);      
    box-shadow: 3px 3px rgb(90, 90, 90);     
    height: clamp(117px,24.6875vw,474px);

}

.swiper-slide{
    width: 100%;
    max-width: clamp(300px,62.5vw,1200px);    
}

.swiper-slide img{
    max-width: clamp(300px,62.5vw,1200px);
    object-fit: cover;  
    display: block;
}

.text1 p{
    max-width: 700px;
    padding: 30px;
    color: rgb(0, 0, 0);
    text-indent: 20px;
}

.bks_back{
    display: flex;
    justify-content: center;
    align-items: center;

}

.bks{
    box-shadow: 0 0 1px 0px black;
    background-color: rgb(241, 241, 241);
    width: 1200px;    
}

.info2{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
}

.block2{
    background-color: rgba(128, 128, 128, 0.24);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; */
    box-shadow: 3px 3px rgb(179, 179, 179);   
    flex-wrap: wrap;  
}

.info3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px 0px 20px;
    flex-wrap: wrap;
}

.block3{
    background-color: rgba(128, 128, 128, 0.24);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px rgb(179, 179, 179);   
    flex-wrap: wrap;  

}

.text2 p{
    text-indent: 20px;  
}

.text3 p{
    text-indent: 20px;  
    padding: 20px;
}

.text3{
    background-color: rgba(128, 128, 128, 0.233);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
}

.spisk li::marker{
    color: rgb(53, 53, 53);
	font-size: 18px;
}

.spisk a{
    text-decoration: none;
    color: rgb(255, 255, 157);
    text-shadow: 0 0 10px black;
}

.spisk{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spisk img{
    width: 154px;
    margin-top: 10px;
}

.logo_servera img{
    width: 100%;
    max-width: 500px;
}

.logo_servera{
    display: flex;
    justify-content: center;
    align-items: center;
}

.posetit{
    margin-top: 10px;
    border: none;
    width: 150px;
    padding: 10px;
    background-color: rgb(172, 172, 172);
    border-radius: 100px;
    box-shadow: 2px 3px rgb(77, 77, 77);
    text-align: center; 
    text-shadow: 0 0 3px black;
}

.posetit a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black;
}

.posetit:hover{
    background-color: rgb(76, 144, 233);
    box-shadow: 2px 3px rgb(64, 65, 16);    
}


a{
    text-decoration: none;
    color: white; 
}